
<!-- ****************************Third section************************************** -->


<section class="how-it-work w-100">
  <div class="container">
    <button class="how-btn">HOW IT WORK</button>
    <h2>Rent with following 3 working steps</h2>

    <div class="steps">
      <div class="step">
        <div class="icon">
          <i class="bi bi-geo-alt-fill"></i>
        </div>
        <h3>Choose location</h3>
        <p>Choose your and find your best car</p>
      </div>

      <div class="step">
        <div class="icon">
          <i class="bi bi-calendar-event-fill"></i>
        </div>
        <h3>Pick-up date</h3>
        <p>Select your pick up date and time to book your car</p>
      </div>

      <div class="step">
        <div class="icon">
          <i class="bi bi-car-front-fill"></i>
        </div>
        <h3>Book your car</h3>
        <p>Book your car and we will deliver it directly to you</p>
      </div>
    </div>
    <img src="../../assets/CarsBrands.png" class="w-100" alt="" srcset="">
  </div>
</section>
