

footer {
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 50px 0 20px;
  background-color: rgba(5, 28, 52, 1);
  height: 375px;
}

.logo{
    width: 116px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid #334d6e;
  padding-bottom: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #ffffff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #cccccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #ffffff;
}

.footer-column p {
  color: #cccccc;
  font-size: 14px;
  line-height: 1.6;
}

.logo {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.social-icons a {
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #cccccc;
}
