<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h3 >
        <img class="logo"  src="../../assets/whitelogo.png" alt="">
      </h3>
      <p>25566 Hc 1, Glenallen,<br>Alaska, 99588, USA</p>
      <p>📞 +603 4784 273 12</p>
      <p>✉️ rentcars@gmail.com</p>
    </div>

    <div class="footer-column">
      <h4>Our Product</h4>
      <ul>
        <li><a href="#">Career</a></li>
        <li><a href="#">Car</a></li>
        <li><a href="#">Packages</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Priceline</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Resources</h4>
      <ul>
        <li><a href="#">Download</a></li>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">Partner Network</a></li>
        <li><a href="#">Cruises</a></li>
        <li><a href="#">Developer</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>About Rentcars</h4>
      <ul>
        <li><a href="#">Why choose us</a></li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Press Center</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
      <div class="social-icons">
        <a href="#">🌐</a>
        <a href="#">📘</a>
        <a href="#">📸</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2023 Rentcars, All Rights Reserved</p>
  </div>
</footer>
