 <!-- *******************Fifth section ********************************* -->

<section class="testimonials">
  <h2>What people say about us?</h2>

  <div class="cards" >

    <div class="card">
      <img src="assets/client1.jpg" alt="Client Photo">
      <div class="card-content">
        <div class="rating">4.0 <span>★</span></div>
        <p>"I've been using your services for years. Your service is great, I will continue to use your service."</p>
        <h4>Wilson</h4>
        <small>From New York, US</small>
      </div>
    </div>

    <div class="card active">
      <img src="assets/client2.jpg" alt="Client Photo">
      <div class="card-content">
        <div class="rating">5.0 <span>★★★★★</span></div>
        <p>"I feel very secure when using caretall’s services. Your customer care team is very enthusiastic and the driver is always on time."</p>
        <h4>Charlie Johnson</h4>
        <small>From New York, US</small>
      </div>
    </div>

    <div class="card">
      <img src="assets/client3.jpg" alt="Client Photo">
      <div class="card-content">
        <div class="rating">5.0 <span>★★★★★</span></div>
        <p>"Great experience every time! The app is easy to use and drivers are friendly."</p>
        <h4>Sarah Lee</h4>
        <small>From Chicago, US</small>
      </div>
    </div>

  </div>
</section>


