<section class="download-section container py-5">
  <div class="row align-items-center justify-content-between">
    <!-- Left Side -->
    <div class="col-md-6">
      <h2 class="fw-bold mb-3">
        Download Rentcars <br> App for <span class="text-primary">FREE</span>
      </h2>
      <p class="text-secondary mb-4">
        For faster, easier booking and exclusive deals.
      </p>

      <div class="d-flex gap-3 mb-4">
        <img src="assets/googleplay.png" alt="Google Play" class="store-img">
        <img src="assets/Appstore.png" alt="App Store" class="store-img">
      </div>

      <form class="form-container">
        <div class="mb-3">
          <input type="text" class="form-control custom-input" placeholder="Name">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control custom-input" placeholder="Phone Number">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control custom-input" placeholder="Email">
        </div>
        <button type="button" class="btn btn-primary px-5">Send</button>
      </form>
    </div>

    <!-- Right Side -->
    <div class="col-md-6 position-relative d-flex justify-content-center">
      <div class="phone-car-wrapper">
       
        <img src="../../assets/main.png"  alt="Phone" class="phone-img">
       
        <img src="../../assets/iPhoneCar.png"   alt="Car" class="car-img">
      </div>
    </div>
  </div>
</section>
