
  <section class="hero">
    <div class="hero-left">
      <h1>Find, book and <br> rent a car  <span class="easily"> Easily </span></h1>
      <p class="smallp">Get a car wherever and whenever you <br> need it with your IOS and Android device.</p>
      <div class="container_s">
        <img src="../../assets/googleplay.png" alt="" srcset="">
        <img src="../../assets/Appstore.png" alt="" srcset="">
        <br>
      </div>
      <button type="button" class="btn btn-primary ">Learn More</button>

    </div>
    <div class="hero-right">
        <img src="../../assets/Frame.png" class="backframe" srcset="">
          <img src="../../assets/car.png" class="car"  alt="" srcset="">
    </div>
  </section>


    <!-- search bar  -->

  
  <div class="searchcontainer">
    <div class="input-group mb-3" style="width: 867px;">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </div>
</div>

  