.cards-container {
width: 300px;
height: 600px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.cards-container .card{
  margin-right: 20px;
  padding: 31px 24px 24px px;
}