.cards-container {
width: 300px;
height: 600px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.cards-container .card{
  margin-right: 20px;
  padding: 31px 24px 24px px;
}

.container22 {
  width: 150px;        
  margin: 20px auto;  
  text-align: center;
}

.showmorebtn {
  background-color: #fff;
  color: #0b0b0b;
  padding: 10px 20px;
  border-radius: 1px   rgb(65, 62, 62);
  cursor: pointer;
  font-size: 14px;
  width: 50%;         
}



