.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar img{
    width: 116px;
    height: 25.72px;
    margin: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 7%;
  margin-right: 7%;
  /* margin-top: 30px; */
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.signinbtn{
  margin-left: 300px;
}
.signupbtn{
  width: 150px;
  height: 300px;
  background-color:  #0f4279;
  
  
}