  <section class="why-choose-us">
    <div class="container">
      <div class="left-image">
        <img src="../../assets/Audi.png"  alt="" srcset="">
      </div>

      <div class="right-content">
        <button class="why-btn">WHY CHOOSE US</button>
        <h2>We offer the best experience with our rental deals</h2>

        <div class="features">
         <ul class="list-unstyled mb-3 text-secondary ">
            <li class="mb-1"><i class="bi bi-people me-2"></i> 4 Passengers</li>
            <li class="mb-1"><i class="bi bi-gear me-2"></i> Auto</li>
            <li class="mb-1"><i class="bi bi-snow me-2"></i> Air Conditioning</li>
            <li class="mb-1"><i class="bi bi-door-closed me-2"></i> 4 Doors</li>
          </ul>

        </div>
      </div>
    </div>
  </section>
