

<app-nvbar></app-nvbar>

<app-first-section></app-first-section>
<app-cards-section></app-cards-section>

<div class="btncontainer">


  <button
    type="button"
    class="btn btn-outline-secondary fw-semibold"
    routerLink="/carss"
  >
    Show all vehicless
    <i class="bi bi-arrow-right ms-1"></i>
  </button>
</div>

<app-third-section></app-third-section>
<app-fourth-section></app-fourth-section>
<app-fifth-section></app-fifth-section>

<app-app-download></app-app-download>


<app-footer></app-footer>
