





<!-- ****************************Third section************************************** -->


<section class="how-it-work w-100">
  <div class="container">
    <button class="how-btn">HOW IT WORK</button>
    <h2>Rent with following 3 working steps</h2>

    <div class="steps">
      <div class="step">
        <div class="icon">
          <i class="bi bi-geo-alt-fill"></i>
        </div>
        <h3>Choose location</h3>
        <p>Choose your and find your best car</p>
      </div>

      <div class="step">
        <div class="icon">
          <i class="bi bi-calendar-event-fill"></i>
        </div>
        <h3>Pick-up date</h3>
        <p>Select your pick up date and time to book your car</p>
      </div>

      <div class="step">
        <div class="icon">
          <i class="bi bi-car-front-fill"></i>
        </div>
        <h3>Book your car</h3>
        <p>Book your car and we will deliver it directly to you</p>
      </div>
    </div>
    <img src="../../assets/CarsBrands.png" class="w-100" alt="" srcset="">
  </div>
</section>



<!-- ----------------------------Fourth section ---------------------------------- -->

  <!-- ================= HOW IT WORK ================= -->
  <section class="how-it-work">
    <div class="container">
      <button class="how-btn">HOW IT WORK</button>
      <h2>Rent with following 3 working steps</h2>

      <div class="steps">
        <div class="step">
          <div class="icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <h3>Choose location</h3>
          <p>Choose your and find your best car</p>
        </div>

        <div class="step">
          <div class="icon">
            <i class="bi bi-calendar-event-fill"></i>
          </div>
          <h3>Pick-up date</h3>
          <p>Select your pick up date and time to book your car</p>
        </div>

        <div class="step">
          <div class="icon">
            <i class="bi bi-car-front-fill"></i>
          </div>
          <h3>Book your car</h3>
          <p>Book your car and we will deliver it directly to you</p>
        </div>
      </div>
    </div>
  </section>


  <!-- ================= WHY CHOOSE US ================= -->
  <section class="why-choose-us">
    <div class="container">
      <div class="left-image">
        <img src="../../assets/Audi.png"  alt="" srcset="">
      </div>

      <div class="right-content">
        <button class="why-btn">WHY CHOOSE US</button>
        <h2>We offer the best experience with our rental deals</h2>

        <div class="features">
          <div class="feature">
            <div class="icon"><i class="bi bi-cash-coin"></i></div>
            <div class="text">
              <h3>Best price guaranteed</h3>
              <p>Find a lower price? We’ll refund you 100% of the difference.</p>
            </div>
          </div>

          <div class="feature">
            <div class="icon"><i class="bi bi-person-fill"></i></div>
            <div class="text">
              <h3>Experience driver</h3>
              <p>Don’t have driver? Don’t worry, we have many experienced driver for you.</p>
            </div>
          </div>

          <div class="feature">
            <div class="icon"><i class="bi bi-clock-fill"></i></div>
            <div class="text">
              <h3>24 hour car delivery</h3>
              <p>Book your car anytime and we will deliver it directly to you.</p>
            </div>
          </div>

          <div class="feature">
            <div class="icon"><i class="bi bi-headset"></i></div>
            <div class="text">
              <h3>24/7 technical support</h3>
              <p>Have a question? Contact Rentcars support any time when you have problem.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- *******************Fifth section ********************************* -->

<section class="testimonials">
  <h2>What people say about us?</h2>

  <div class="cards" >

    <div class="card">
      <img src="assets/client1.jpg" alt="Client Photo">
      <div class="card-content">
        <div class="rating">4.0 <span>★</span></div>
        <p>"I've been using your services for years. Your service is great, I will continue to use your service."</p>
        <h4>Wilson</h4>
        <small>From New York, US</small>
      </div>
    </div>

    <div class="card active">
      <img src="assets/client2.jpg" alt="Client Photo">
      <div class="card-content">
        <div class="rating">5.0 <span>★★★★★</span></div>
        <p>"I feel very secure when using caretall’s services. Your customer care team is very enthusiastic and the driver is always on time."</p>
        <h4>Charlie Johnson</h4>
        <small>From New York, US</small>
      </div>
    </div>

    <div class="card">
      <img src="assets/client3.jpg" alt="Client Photo">
      <div class="card-content">
        <div class="rating">5.0 <span>★★★★★</span></div>
        <p>"Great experience every time! The app is easy to use and drivers are friendly."</p>
        <h4>Sarah Lee</h4>
        <small>From Chicago, US</small>
      </div>
    </div>

  </div>
</section>

<!-- -----------------------*****************(DOWNLAOD APP SECTION )**********************------------------------------------- -->



